body{
    background-color: rgb(226, 224, 224);
    margin: 0;
    padding: 0;
    height: 100%;
}
header{
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
}
/* By specifying nav a these styles will only apply to anchor tags within the nav sectipm */
nav a{
    color: black;
    text-decoration: none;
    padding: 20px;
    font-size: large;
}

/* add style(s) for when the mosue hovers over nav menu */
nav a:hover{
    color: blue;
}
footer{
    background-color: white;
    color: black;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}