.hero{
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    padding: 4rem 2rem;
    color: white;
    gap: 1px;

}
.left{
    padding: 2rem;
}
.profile-img{
    width: 300px;
    height: auto;
}
.icons{
    display: flex;
    justify-content: space-around;
    background-color: white;
    color: black;
    padding: 12px;
}
.right{
    background-color: rgba(0,0,0,0.7);
    text-align: left;
    font-size: large;
    margin-right: 20px;
    padding: 50px;
}
.right p{
    width: 100%;
}

footer{
    position: relative;
}