h1, .thy-info{
        background-color: rgba(0,0,0,1);
        color: white;
        text-align: center;
        padding: 20px;
    }
    .flex-container{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .flex-column{
        padding: 10px;
        margin: 10px;
        max-width: 100%;
        text-align: center;
        background-color: whitesmoke;
        border-radius: 10px;
        color: black;
    }

    .img-decorative{
        width: 90%;
        border-radius: 10px;
    }
    .p-descr{
        color: black;
        text-align: left;
    }